<mat-card>
    <mat-card-header>
        <mat-card-title>Gestión de Subcategorías</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="subcategoriaForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="categoria_id" required>
                    @for (categoria of categorias; track $index) {
                    <mat-option [value]="categoria.id">
                        {{ categoria.nombre }}
                    </mat-option>
                    }

                </mat-select>
                <mat-error *ngIf="subcategoriaForm.get('categoria_id')?.hasError('required')">Seleccione una
                    categoría.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nombre de la Subcategoría</mat-label>
                <input matInput formControlName="nombre" required>
                <mat-error *ngIf="subcategoriaForm.get('nombre')?.hasError('required')">El nombre es
                    obligatorio.</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="!subcategoriaForm.valid">
                {{ isEditMode ? 'Actualizar' : 'Crear' }}
            </button>
            <button *ngIf="isEditMode" mat-button (click)="cancelEdit()">Cancelar</button>
        </form>

        <mat-divider class="divider"></mat-divider>

        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let subcategoria">{{ subcategoria.nombre }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <mat-header-cell *matHeaderCellDef>Categoría</mat-header-cell>
                <mat-cell *matCellDef="let subcategoria">{{ getCategoriaNombre(subcategoria.categoria_id) }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let subcategoria">
                    <button mat-icon-button color="accent" (click)="editSubcategoria(subcategoria)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteSubcategoria(subcategoria.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['nombre', 'categoria', 'acciones']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['nombre', 'categoria', 'acciones']"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>