<mat-card>
    <mat-card-header>
        <mat-card-title>Acceso al Panel de Administración</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" required>
                @if (loginForm.get('email')?.hasError('required')) {
                <mat-error *ngIf="">El email es obligatorio</mat-error>
                }

            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" required>
                @if (loginForm.get('password')?.hasError('required')) {
                <mat-error>La contraseña es
                    obligatoria</mat-error>
                }

            </mat-form-field>
            @if (errorMessage) {
            <div class="error-message">{{ errorMessage }}</div>
            }


            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
                Iniciar Sesión
            </button>
        </form>
    </mat-card-content>
</mat-card>